APP_TITLE="ESTEC"
VITE_BASE_API_URL="https://p0fmhg8ipc.execute-api.ap-southeast-1.amazonaws.com/alpha"
VITE_WEB_SOCKET_URL="wss://nwpi4cg81e.execute-api.ap-southeast-1.amazonaws.com/alpha"
VITE_API_URL=""